# Convert Data from CSV to HTML

In [1]:
# Dependencies and Setup
import pandas as pd

csv_file='cities.csv'
html_file='cities.html'
weather_df=pd.read_csv(csv_file)
weather_df["City_id"]=weather_df.index
weather_df["Date"]=pd.to_datetime(weather_df["Date"], unit='s')
weather_df=weather_df[["City_id","City","Country","Date","Lat","Lon","Max Tem","Cloudiness","Humidity","Wind Speed"]]
weather_df

,City_id,City,Country,Date,Lat,Lon,Max Tem,Cloudiness,Humidity,Wind Speed
0,0,Hobart,AU,2020-04-11 23:30:48,-42.88,147.33,57.00,40,62,14.99
1,1,Esim,GH,2020-04-11 23:27:06,4.87,-2.24,80.60,50,85,5.19
2,2,Kuito,AO,2020-04-11 23:30:48,-12.38,16.93,58.77,59,61,3.40
3,3,Qaanaaq,GL,2020-04-11 23:27:08,77.48,-69.36,11.80,88,72,3.24
4,4,Nchelenge,ZM,2020-04-11 23:30:48,-9.35,28.73,69.10,97,63,7.34
...,...,...,...,...,...,...,...,...,...,...
572,572,Dalaba,GN,2020-04-11 23:32:51,10.70,-12.25,66.63,96,59,1.61
573,573,Bhādāsar,IN,2020-04-11 23:32:53,28.28,74.32,81.00,56,31,7.47
574,574,Coro,VE,2020-04-11 23:32:53,11.40,-69.67,80.02,65,77,19.13
575,575,Alenquer,BR,2020-04-11 23:32:53,-1.94,-54.74,78.80,97,94,1.12
576,576,Mistelbach,AT,2020-04-11 23:32:53,48.57,16.58,51.01,57,53,3.36

In [2]:
weather_html = weather_df.to_html(index=False).replace('border="1"','border="0"')
with open(html_file,"w") as file:
    file.write(weather_html)